body {
	background-color: #e6fff2;
}

label {
	font-size: 18px;
}

p {
	margin-top: 10px;
}

.header {
	background-color: lightblue;
}

.button-row {
	margin-top: 25px;
	margin-bottom: 25px;
}

.newGif {
	display: inline-block;
	margin: 20px 20px 20px 0px;
}

.fButton {
	margin-right: 5px;
	margin-bottom: 5px;
}

#food-input {
	margin: 0px 5px;
}
